
.itemBox {
    width: 170.4px;
    margin-right: 32px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.itemBox .imgBox {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}

.itemBox .imgBox img {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translate(0, -50%);
    vertical-align: middle;
}

.itemgBox .movieInfo {
    display: flex;
    flex-wrap: wrap;
}