.movieChartBox {
    clear: none;
    float: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));
}

.movieChartBox .contents {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 30px 60px;
}

.movieChartBox .contents .tabBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movieChartBox .contents .tabBox .tab {
    display: inline-flex;
}

.tabBox .tab h3{
    height: auto;
    margin: 0;
    line-height: 1em;
    background-image: none;
    text-align: center;
    font-weight: 500;
}

.active {
    font-weight: 700;
    color: #222;
    font-size: 26px;
    line-height: 1.423em;
}
